**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**

**/.azurepipelines/**
**/.config/**
**/.github/**
**/Apps/**
**/Documentation/**
**/nuget/**
**/scripts/**
**/SDK/**
**/swagger/**
**/Tests/**

**/.gitattributes
**/AppCenter-Demo.sln
**/AppCenter-Mac.sln
**/appcenter-post-clone.ps1
**/appcenter-public-key.snk
**/AppCenter-SDK-Build-Mac-DotNet.slnf
**/AppCenter-SDK-Build-Mac-Mono.slnf
**/AppCenter-SDK-Build-Windows.sln
**/AppCenter-SDK-Documentation.sln
**/AppCenter-SDK-Test-Windows.sln
**/AppCenter-SDK-Test.sln
**/AppCenter-Windows.sln
**/build.cake
**/build.ps1
**/build.sh
**/cgmanifest.json
**/CHANGELOG.md
**/license.txt
**/NuGet.config
**/README.md
**/SECURITY.md
**/test-tools.cake
**/ThirdPartyNotices.txt
**/version.cake